<div id="nav">
  <ul>
    <li><a href="../index.html">Forside</a></li>
    <li onclick="dropdownFunction()" class="dropbtn">Behandlinger
      <ul id="dropdown" class="dropdown-content">
        <li><a href="../behandlinger/zoneterapi.html">Zoneterapi</a></li>
        <li><a href="../behandlinger/healing.html">Healing</a></li>
        <li><a href="../behandlinger/accessbars.html">Access Bars</a></li>
      </ul>
    </li>
    <li><a href="../efterbehandling.html">Efter Behandlingen</a></li>
    <li><a href="../erfaringer.html">Erfaringer</a></li>
    <li><a href="../kontakt.html">Kontakt</a></li>
    <li><a href="../priser.html">Priser</a></li>
    <li><a href="../onlinebooking.html">Online Booking</a></li>
  </ul>
</div>
