<div id="nav">
  <ul>
    <li><a href="../hovedsider/index.html">Forside</a></li>
    <li onclick="dropdownFunction()" class="dropbtn">Behandlinger
      <ul id="dropdown" class="dropdown-content">
        <li><a href="../behandlinger/zoneterapi.html">Zoneterapi</a></li>
        <li><a href="../behandlinger/healing.html">Healing</a></li>
        <li><a href="../behandlinger/accessbars.html">Access Bars</a></li>
      </ul>
    </li>
    <li><a href="../hovedsider/efterbehandling.html">Efter Behandlingen</a></li>
    <li><a href="../hovedsider/erfaringer.html">Erfaringer</a></li>
    <li><a href="../hovedsider/kontakt.html">Kontakt</a></li>
    <li><a href="../hovedsider/priser.html">Priser</a></li>
    <li><a href="../hovedsider/onlinebooking.html">Online Booking</a></li>
  </ul>
</div>
