<div id="nav">
  <ul>
    <li><a href="../customer-ui/index.html">Forside</a></li>
    <li onclick="dropdownFunction()" class="dropbtn">Behandlinger
      <ul id="dropdown" class="dropdown-content">
        <li><a href="../services/zoneterapi.html">Zoneterapi</a></li>
        <li><a href="../services/healing.html">Healing</a></li>
        <li><a href="../services/accessbars.html">Access Bars</a></li>
      </ul>
    </li>
    <li><a href="../customer-ui/efterbehandling.html">Efter Behandlingen</a></li>
    <li><a href="../customer-ui/erfaringer.html">Erfaringer</a></li>
    <li><a href="../customer-ui/kontakt.html">Kontakt</a></li>
    <li><a href="../customer-ui/priser.html">Priser</a></li>
    <li><a href="../customer-ui/onlinebooking.html">Online Booking</a></li>
  </ul>
</div>
